<strong>Here you would put the actual form to start the process</strong>

<p>
  You can use this form through Camunda Tasklist
  by setting the formKey of a BPMN Start Event to:
  <code>embedded:app:forms/start-form.html</code>
</p>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Your Name</label>
    <div class="controls">
      <input type="text" 
             cam-variable-name="name"
             cam-variable-type="String"
             required
             class="form-control" />
    </div>
    <div class="controls">
        <input type="file"
               cam-variable-name="INVOICE_DOCUMENT"
               ng-model="INVOICE_DOCUMENT"
               cam-variable-type="File"
               cam-max-filesize="10000000" />
    </div>
  </div>

  <script cam-script type="text/form-script">
  // custom JavaScript goes here
    camForm.on('submit', function(evt) {
      // handle submit
      // may prevent the submit from being executed:
      //evt.submitPrevented = true;
      if($scope.INVOICE_DOCUMENT){
          console.log("invoice document is set");
      } else {
          console.log("invoice document is null");
          camForm.variableManager.destroyVariable('INVOICE_DOCUMENT');
      }
    });  </script>
</form>